

/* Layout */
.junior #maineditor {
    left: @juniorSimulatorWidth;
}

.junior #filelist, .junior #downloadArea {
    min-width: @juniorSimulatorWidth;
    max-width: @juniorSimulatorWidth;
    background-color: @juniorSimulatorBackground;
    left: 0;
}

/* Blockly */
.junior svg.blocklySvg {
    background-color: @juniorBlocklySvgColor !important;
}
.junior .blocklyFlyoutBackground {
    fill: @juniorBlocklyFlyoutColor;
    fill-opacity: @juniorBlocklyFlyoutOpacity !important;
}
.junior .blocklyToolboxDiv, .junior .monacoToolboxDiv {
    background: @juniorBlocklyToolboxColor !important;
    border-right: 1px solid #f2f2f2;
}

/* Editor toolbar */
.junior #editortools {
    background: transparent;
}
.junior #downloadArea {
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 0; margin: 0;
}
.junior #downloadArea .ui.button.download-button {
    border-radius: 0;
    margin: 0;
    height: @editorToolsCollapsedHeight;
}


/* Junior dialog */
.ui.modal.juniordialog .content {
    background: @juniorDialogColor;
}

.ui.modal.juniordialog .juniorcard .card {
    border: 0;
    box-shadow: none !important;
    background: none;
}
.ui.modal.juniordialog .juniorcard .card i.circular.inverted {
    background-color: white !important;
    color: @juniorDialogCardColor !important;
}

.ui.modal.juniordialog .juniorcard .card .content {
    color: white;
    padding: 1rem;
    border: none;
}

.ui.modal.juniordialog .juniorfooter {
    text-align: center;
    width: 100%;
}
.ui.modal.juniordialog .juniorfooter a{
    color: white;
    text-decoration: underline;
    font-size: 0.8rem;
}

/* Hide in Junior mode */
.junior .hidejunior {
    display: none;
}

/* <= Small Monitor (Mobile + Tablet + Small Monitor) */
@media only screen and (max-width: @largestSmallMonitor) {
    /* Layout */
    .junior #maineditor {
        left: @simulatorWidthSmall;
    }
    .junior #filelist, .junior #downloadArea {
        min-width:@simulatorWidthSmall;
        max-width:@simulatorWidthSmall;
    }
}

/* <= Tablet (Mobile + Tablet) */
@media only screen and (max-width: @largestTabletScreen) {
    #editortools {
        background: inherit;
    }
    /* Layout */
    .junior #maineditor {
        left: 0;
        right:0;
    }
    .junior #filelist {
        min-width: inherit;
        max-width: inherit;
    }
}